screenshots/

# Ignore the node modules. They will be installed through 'npm install'
node_modules/

# Ignore .env file, to be kept locally on machine running the server for security
.env
RPI Campus Map Project Proposal Summer 19.pdf
RPI Campus Map Project Proposal Fall 19.pdf
