html {
	margin: 0;
	padding: 0;
}

body {
   background-color: #dedede;
}

#header {
   background-color: #cc0000;
   padding-left: 12.5%;
   padding-right: 12.5%;
   width: 75%;
   margin: auto;
}

#container {
   background-color: #ffffff;
   height: 100%;
   width: 75%;
   margin: auto;
}

#map {
   width: 37.5%;
   float: right;
}

#footer {
   background-color: #cc0000;
   padding-left: 12.5%;
   padding-right: 12.5%;
   width: 75%;
   height: 100px;
   margin: auto;
   color: aliceblue;
   text-align: center; 
}

input[type=text] {
/*    float: right;*/
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/*==================================*/
/*Search Results*/

.resultBox{/*Bounding box - div tag*/
  border-bottom: 2px solid gainsboro;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 85%;
  height: 200px;
}
.resultInfo{
  width: 60%;
  display: inline-block;
}
.resultTitle{/*formal name of location - h1 tag*/
  padding-left: .5em;
  padding-top: .5em;
  margin:0;
}
.resultNicks{/*list of nicknames - p tag*/
  padding-left: 2em;
}
.resultDesc{/*description for the search result - p tag*/
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 50px;
  white-space: nowrap;
  width: 100%;

  padding-left: 2em;}
.resultImg{/*Image for the search result - img tag*/
  display: inline-block;
  float: right;
  max-width: 39%;
  height:95%;
  margin-top: auto;
  margin-bottom: auto;
}
.noResult{  /*Div displayed when no search results were found*/
  padding: 1vh;
  text-align: center;
  height: 100vh;
}
.yesResult{ /*Div displayed when there are enough search results found */
  padding: 1vh;
  text-align:center;
}

/*==================================*/
/*Search Bar*/

#search{ /* Div containing the search bar*/
  width: 75%;
  margin: auto;
  margin-bottom: 1em;
}

#searchText{  /*Text area where user search entered*/
  border-style: groove;
  border-radius: 4px;
  width: 50%;
}

#searchButton{  /*Button to submit the search query*/
  height:2.5em;
  border-radius: 4px;
}



/*==================================*/
/*Information Page*/

#info{ /*Div that containts all of the info*/
  height: 400px;
  background-color: oldlace;
}
.infoInlineText{ /*Div to keep sections of text inline*/

}
.infoTopic{ /*Title of what information is being displayed*/
  display: inline;
}
.infoInlineText p{ /*Style div to force two p tags next to each other*/
  display: inline;
}
/*#infoName{

}
#infoNick{

}
#infoAddress{

}
#infoPhone{

}*/

#infoSlider{ /*CSS for image slider*/
  max-width: 100%;
  height:90%;
  margin-top: auto;
  margin-bottom: auto;
}
#infoImage{
  float: right;
  height: 400px;
  max-width: 50%;
  background-color: ivory;
}
#infoImage div{ /*Div containing the buttons ensuring they are inline but below the image*/
  display: block;
  text-align: center;
  background-color: lavender;
}
#infoImage button{ /*Buttons that control the slider*/
  border: none;
  background-color: transparent;
  font-size: 1em;
}
#infoImage button:hover{ /*Hover over image slider buttons*/
  background-color: gainsboro;
  backface-visibility: 50%;
}


#infoDesc{ /*Description for location*/

}

#infoExtra{ /*div that stores the comments below the info*/
  min-height: 400px;
}


/*==================================*/
/*Comment*/
.comment{ /*Div containing the comment*/
  width: 60%;
  margin:auto;
  border-bottom: 2px solid gainsboro;
  margin-top: 10px;
}
.commentTitle{ /*h3 containing the title of the post*/
  height: 20%;
  padding-left: 5px;
  margin: 0px;
  text-align: left;
}
.commentText{/*p containing the text of the comment*/
  height: 65%;
  padding-left: 5px;
  margin: 0px;
  text-align: left;
}
.commentTime{/*p containing the time the comment was posted*/
  height: 15%;
  padding-right: 2px;
  margin: 0px;
  text-align: right;
}
#commentSplash{ /*Splash text for the comments section*/
  width: 60%;
  margin: auto;
  padding-bottom:1em;
  border-bottom: 2px solid gainsboro;
}


#commentFormSplash{ /*Splash text for the comment form*/
  width: 60%;
  margin: auto;
  margin-top: 2em;
}
#commentForm{ /*div to write your own comment*/
  width: 60%;
  margin: auto;
  border-style: ridge;
  margin-top: 10px;
  margin-bottom: 10px;
}
#commentFormTitle{ /*input containing the comment title*/
  width: 70%;
  margin-left: 5px;
  border-bottom: 1px solid black;
}
#commentFormText{ /*Textare containing the comment*/
  min-width: 97%;
  max-width: 97%;
  margin-top: 10px;
  margin-left: 1%;
  margin-bottom: 2%;
}
#commentFormSubmit{ /*Comment submit button*/
  float: right;
  height:2.5em;
  border-radius: 4px;
  margin-top: 1em;
  margin-right: 1em;
}

#noComment{ /*used when there arent any comments*/
  margin: auto;
  text-align: center;
}

/*delete this*/
#mapContainer{
  width: 100%;
  background-color: lavender;
}