body {
   background-color: #000000;
   height: 100%;
   margin: 0;
   padding: 0;
}

a {
  text-decoration: none;
}

#mapPopup {
   background-color: #ffffff;
   min-height: 88%;
   width: 80%;
   margin: auto;
}

#mapPopupInfo {
   background-color: #ffffff;
   min-height: 88%;
   width: 100%;
   margin: auto;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#mapContainer {
   height: 85%;
   width: 100%;
}

.popup:hover {
   cursor: pointer;
}
