body {
  background-color: #000000;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer a {
 text-decoration: underline;
 color: inherit;
}

.row {
  max-width: 100%;
}

main {
  min-height: calc(92vh - 4em);
}
