html,
body {
  height: 100%;
  overflow: auto;
}

main {
  min-height: 81vh;
}

header {
  max-height: 11vh;
  position: relative;
  z-index: 100000;
}

footer {
  font-size: small;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  color: #eeeeee;
}

footer a {
  text-decoration: underline;
  color: inherit;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#seal {
  float: left;
  clear: none;
  height: 3em;
  width: 3em;
}

#footerText {
  margin: 0 3em 0 0;
}