<!DOCTYPE html>
<html lang="en-us" ng-app="CampusMap">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="RPI Interactive Campus Map" name="description">
    <meta content="Interactive, rpi map, rpi campus map, map, rpi" name="keywords">

    <title>Campus Map - Search Results</title>

    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link href="/public/style/style.css" rel="stylesheet" type="text/css"/> -->

    <!-- Map required Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/public/controllers/angularMap.js"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
   </head>

   <body ng-controller="searchController">
     <!-- Header -->
     <header id="header">

       <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
         <a class="navbar-brand" href="/public/views/index.html">
           <img id="logo" src="/public/images/logo.png" height=40px alt="RPI Campus Map"/>
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="/">Back to Map</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="search('')">Browse</a>
             </li>
           </ul>

           <!-- Search bar-->
           <form action="#" class="form-inline my-2 my-lg-0">
             <input id="searchText" ng-model="query" type="search" name="query" placeholder="Enter a location..." class="form-control mr-sm-2" aria-label="Search">
             <input id="searchButton" type="submit" value="Search" class="btn btn-light my-2 my-sm-0" ng-click="search(query);">
           </form>
         </div>
       </nav>
     </header>

      <!-- Main content -->
      <main role="main" class="flex-shrink-0 pt-4">
        <div id="container" class="container">
          <h5 class="py-4">Search Results - "{{params.query}}"</h5>
          <!-- <a style="text-decoration:none; color:black;" href="/info&loc={{b.id}}" ng-repeat="b in buildings"> -->
          <a href="/info&loc={{b.id}}" ng-repeat="b in buildings" class="bg-light card mb-3 container-fluid" style="text-decoration:none; color:black">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/public/images/pin.png" style="max-width: 100px;" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{b.properties.name}}</h5>
                  <p class="card-text">{{b.properties.description}}</p>
                  <p class="card-text">Nicknames: {{b.properties.nick}}</p>
                </div>
              </div>
            <!-- </div> -->
          </div>
          </a>

        </div>
      </main>

      <!-- footer -->
      <footer class="footer mt-auto py-3">
        <div class="container">
          RPI Interactive Campus Map -- Group 5 -- Justin Gaskins, Christopher Pence, Sebastien Boulas -- Professor Munasinghe -- 2018
        </div>
      </footer>
   </body>
</html>
