<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<!-- Main content -->

<main role="main" class="flex-shrink-0">
  <p class="lead mb-3"> Hello <%= name %> </p>
  <form action="/user/logout" method="GET">
    <button type="submit">Logout</button>
  </form>
</main>