<link href="/style/admin.css" rel="stylesheet" type="text/css" />
<!-- Main content -->

<main role="main" class="flex-shrink-0"></main>
  <p class="lead mb-3"> Hello <%= name %> </p>
  <button href="/user/logout" class="btn btn-primary">Log out</button>
</main>