<!DOCTYPE html>
<html lang="en-us" ng-app="CampusMap" ng-controller="infoController">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="RPI Interactive Campus Map" name="description">
  <meta content="Interactive, rpi map, rpi campus map, map, rpi" name="keywords">

  <title>Info - {{page_name}}</title>

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#000000" />


  <!-- IOS Meta Tags Here -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="RPI Campus Map">
  <link rel="apple-touch-icon" href="/images/pin-152x152.png">

  <!-- CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
    integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous">
  </script>
  <link href="/style/layout2.css" rel="stylesheet"  type="text/css"/>
  <%- style %>

  <%- defineContent('map_scripts') %>

  <meta name="theme-color" content="#dc3545" />


</head>

<body>

  <header id="header">
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="/user/main_page">
          <img id="logo" src="/images/logo.png" height=40px alt="RPI Campus Map"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
 
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Back to Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/search?query=">Browse</a>
              </li>
            </ul>
 
            <!-- Search bar-->
            <form action="/user/search" method="get" class="form-inline my-2 my-lg-0">
              <input id="searchText" ng-model="query" type="search" name="query" placeholder="Enter a location..." class="form-control mr-sm-2" aria-label="Search">
              <input id="searchButton" type="submit" value="Search" class="btn btn-light my-2 my-sm-0" ng-click="search(query);">
            </form>
          </div>
    </nav>
  </header>

  <!-- Main content -->
  <div class="background"></div>
  <div class="wrapper">
    <%- body %>
  </div>
  

  <!-- footer -->
  <footer id="divFooter" class="container-fluid py-2 bg-danger align-items-center">
      <div class="row justify-content-center">
        <div id="seal" class="col-sm-1">
          <a href="https://rpi.edu/" target="_blank">
            <img id="seal" src="/images/seal.png" width=50 height=50 alt="Rensselaer Polytechnic Institute"/>
          </a>
        </div>
        
        <div id="footerText" class="col text-center">
          <a href="https://rcos.io/projects/gaskij/rpicampusmap/profile" target="_blank">An RCOS Project</a> --
          <a href="https://github.com/gaskij/rpicampusmap"><i class="fab fa-github"></i> GitHub</a> --
        <br><a href="/user/login">Admin Panel</a>
      </div>
    </div>
  </footer>

  <%- defineContent('bottom_map_scripts') %>

  <!-- Bootstrap Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>

</body>

</html>