
  <div id="container">
    <!-- Main content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <br>

        <form action="/user/search" method="get" class="form-inline py-2">
          <input id="searchText" ng-model="query" style="width: 90%;" type="search" name="query"
            placeholder="Enter a location..." class="form-control form-control-lg mr-sm-2" aria-label="Search">
          <input id="searchButton" type="submit" value="Search" class="btn btn-lg btn-light my-2 my-sm-0"
            ng-click="search(query);">
        </form>

        
        <h5 class="py-4">Search Results - "{{que_res}}"</h5>

        <a href="/user/info?loc={{b.id}}" ng-repeat="b in buildings" class="bg-light card mb-3 container-fluid"
          style="text-decoration:none; color:black">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/public/images/pin.png" style="max-width: 100px;" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{b.properties.name}}</h5>
                <p class="card-text">{{b.properties.description}}</p>
                <p class="card-text">Nicknames: {{b.properties.nick}}</p>
              </div>
            </div>
          </div>
        </a>

      </div>
    </main>
  </div>

  <script src="/public/controllers/app.js"></script>
  <script src="/public/controllers/searchController.js"></script>