
<link href="/css/welcome.css" rel="stylesheet"  type="text/css"/>

<div class="container" id = "content">
    <div class = 'row'>
        <img id = 'main_img' src="/images/logo.png"></img>
    </div>
    <div class = 'row'>
        <div class = "col">
            <div class="card card-body text-center">
                <p>Login, Register or Continue as Guest</p>
                <a href="/user/register" class="btn btn-primary btn-block mb-2">Register</a>
                <a href="/user/login" class="btn btn-primary btn-block mb-2>">Login</a>
                <a href="/user/main_page" class="btn btn-primary btn-block mb-2>">Continue as guest</a>
            </div>
        </div>
    </div>
</div>