<link href="/css/searchResults.css" rel="stylesheet" type="text/css" />

<div class="container">
  <br>

  <form action="/user/search" method="get" class="form-inline py-2">
    <div class="form-group">
      <input
        id="searchText"
        ng-model="query"
        style="width: 90%;"
        type="search"
        name="query"
        placeholder="Enter a location..."
        class="form-control form-control-lg mr-sm-2"
        aria-label="Search"
      />
    </div>
    <button type="submit" class="btn btn-primary" ng-click="search(query);">Go</button>
  </form>



  <h5 class="py-4">Search Results - "{{query}}"</h5>

  <% results.forEach(element => {%>
  <a href="/user/info?loc=" ng-repeat="b in buildings" class="bg-light card mb-3 container-fluid"
    style="text-decoration:none; color:black">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/public/images/pin.png" style="max-width: 100px;" class="card-img" alt="...">
      </div>
      <div class="col-md-8">

        <div class="card-body">
          <h5 class="card-title">Name: <%= element['properties']['name'] %></h5>
          <p class="card-text">Description: <%= element['properties']['description'] %></p>
          <p class="card-text">Nickname: <%= element['properties']['nick'] %></p>
        </div>

      </div>
    </div>
  </a>
  <% }); %>

</div>
